#outer {
    border: var(--standard-border-width) solid var(--primary-color);
    border-radius: var(--standard-border-radius);
    box-shadow: 6px 6px var(--secondary-color);
    min-width: 300px;
}

#header-piece {
    background-color: var(--secondary-light-color);
    border-top-left-radius: var(--inner-fill-border-radius);
    border-top-right-radius: var(--inner-fill-border-radius);
}

#middle-piece {
    min-height: 71vh;
}

#footer-piece {
    background-color: var(--danger-primary-color);
    border-bottom-left-radius: var(--inner-fill-border-radius);
    border-bottom-right-radius: var(--inner-fill-border-radius);
}

    #footer-piece:hover {
        background-color: var(--danger-secondary-color);
        color: white;
    }

/* mobile */
@media only screen and (max-width: 800px) {
    #outer {
        max-width: none;
        min-height: auto;
    }

    #middle-piece {
        min-height: auto;
    }
}
