<div id="outer">
    <div id="header-piece" class="p10">
        <h6>
            <!-- <span>{{ cardList.id | idPrefix }}</span> -->
            <bs-span-and-input
                [text]="cardList.name"
                [hint]="'column name:'"
                [maxLength]="32"
                (editingFinished)="onCardListNameEditingFinished($event)">
            </bs-span-and-input>
        </h6>
    </div>
    
    <!-- card -->
    <div id="middle-piece" style="min-width: 100px; padding: 10px; height: 100%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer iaculis commodo porta.
        Quisque in mauris scelerisque, molestie dui quis, ornare nunc.
    </div>

    <div id="footer-piece" class="p10" (click)="deleteCardList()">
        <h6 class="text-center">-</h6>
    </div>
</div>
