#columns {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 20px;
}

.column:last-child {
    margin-right: 20px;
}

/* mobile */
@media only screen and (max-width: 800px) {
    #columns {
        flex-direction: column;
        margin-bottom: 20px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .column {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
