<bs-loader [loading]="loading">
    <ng-container *ngIf="board && board.cardLists.length === 0">
        <h1 class="w100 mt20 text-center">
            this board is empty, <bs-button (click)="addCardList()">add a column</bs-button>
        </h1>
    </ng-container>
    <ng-container *ngIf="board && board.cardLists.length > 0">
        <h1 class="w100 mt20 text-center">
            <bs-span-and-input
                [text]="board.name"
                [hint]="'board name:'"
                [maxLength]="32"
                (editingFinished)="onBoardNameEditingFinished($event)">
            </bs-span-and-input>
        </h1>
        <div id="columns" class="w100 mt20">
            <ng-container *ngFor="let cardList of board.cardLists; let last = last;">
                <bs-column class="column ml20"
                    [boardId]="board.id"
                    [cardList]="cardList"
                    (cardListDeleted)="onCardListDeleted($event)">
                </bs-column>
            </ng-container>
            <bs-button *ngIf="board.cardLists.length < 5"
                class="ml20 mr20"
                [primary]="true"
                [fillHeight]="true"
                [fillWidth]="true"
                [borderBox]="true"
                (click)="addCardList()">
                +
            </bs-button>
        </div>
    </ng-container>
</bs-loader>
