/* defaults */
* {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

body {
    min-width: 350px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    all: unset;
}

/* fonts & text */
html, body {
    font-family: Andale Mono, monospace;
    font-size: large;
}

.font-x-large {
    font-size: x-large;
}

.font-xx-large {
    font-size: xx-large;
}

.text-primary {
    color: var(--primary-color);
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

/* colors */
:root {
    --primary-color: #ff4aa2;
    --secondary-color: #afafaf;
    --secondary-light-color: #e2e2e2;
    /* --text-color: #330e29; */
    --text-color: black;
}

body {
    color: var(--text-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

/* breakpoints */
:root {
    --mobile: 700px;
}

/* spacing & sizes */
:root {
    --standard-border-width: 4px;
    --standard-border-radius: 20px;
    --inner-fill-border-radius: 16px;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.w71 {
    width: 71%;
}

.w20 {
    width: 20%;
}

.w15 {
    width: 15%;
}

.w10 {
    width: 10%;
}

.p10 {
    padding: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mr40 {
    margin-right: 40px;
}

.mr20 {
    margin-right: 20px;
}

.ml40 {
    margin-left: 40px;
}

.ml20 {
    margin-left: 20px;
}

.vh71 {
    height: 71vh;
}

/* flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* other */
.box-shadow {
    box-shadow: 6px 6px var(--secondary-color);
}

/* mobile */
@media only screen and (max-width: 700px) {
    html, body {
        font-size: small;
    }
    
    .font-x-large {
        font-size: medium;
    }
    
    .font-xx-large {
        font-size: medium;
    }
}
